/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
  color: #949494;
  padding: 20px 0;
  border-top: 2px solid #ececec;
}

.footer-container .footer-content {
  margin-bottom: 20px;
}

.footer-link {
  color: #6eadfa;
}
